.main_box {
    max-width: 800px;
    margin: 0 auto;
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 40px;
    padding: 10px;
    background-color: white;
    color: black;
}

.like {
    display: flex;
}

.cool {
    margin-left: 15px;
    margin-top: 14px;
}

.img_like {
    width: 35px;
    height: 35px;
}

body {
    background-color: rgba(28,28,28,0.66);
    cursor: default;
}

img {
    max-width: 100%;
    height: auto;
}

.mini_image {
    width:55px;
    height: 55px;
}

.mini_title {
    width:55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid black;
}

.title {
    display: flex;
}

h2 {
    margin-left: 15px;
}

p {
    font-size: 22px;
}

.image {
    width: 800px;
    height: 640px;
    margin-bottom: 30px;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.5);
}